<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connexion</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='login.css') }}"
    />
  </head>
  <body>
    <h1>Connexion</h1>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <p
      class="message"
      style="color: {{ 'red' if category == 'danger' else 'green' }}"
    >
      {{ message }}
    </p>
    {% endfor %} {% endif %} {% endwith %}
    <form method="POST" action="{{ url_for('login') }}" autocomplete="off">
      <label for="username">Nom d'utilisateur :</label>
      <input type="text" id="username" name="username" required />

      <label for="password">Mot de passe :</label>
      <input type="password" id="password" name="password" required />

      <button type="submit">Se connecter</button>
    </form>
  </body>
</html>
